div(class="footer")
    div(class="container")
        div(class="row")
            div(class="col col-lg-12") Node Shop. All rights reserverd

script(src='https://cdn.jsdelivr.net/npm/sweetalert2@8')
script(src='/js/nav.js')
script(src='/js/card.js')
