form(action="/login", method="POST")
    p
        label= 'login   '
        input(name="login", value="admin", id="login")
    p
        label= 'password    '
        input(type="password", name="password", value="123", id="password")
    p
        input(type="submit", value="login")


//script(src="js/login.js")